In [1]:
import pandas as pd

In [5]:
# data used for the example (stored in lists)
states = ['California', 'Texas', 'Florida', 'Chicago']
population = [1234567, 2345678, 3456789, 4567890]

# storing lists within a dictionary
dict_states = {'States': states, 'Population': population}

# creating the Data Frame
df_population = pd.DataFrame.from_dict(dict_states)
df_population

       States  Population
0  California     1234567
1       Texas     2345678
2     Florida     3456789
3     Chicago     4567890